#root{
    height: calc(100vh - 56px);
    padding: 0;
}

.navbar-ext {
    padding: 0;
}

.page {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 100%;
}

/* Home page */
.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 100px;
}

.landing-page {
    padding: 0;
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (orientation: portrait) and (max-width: 768px) {
    .landing-page {
        height: 200px;        
    }
}

.landing-page .logo-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.landing-page .logo-image {
    position: absolute;
    height: 60%;
    object-fit: contain;
}

@media (orientation: portrait) and (max-width: 768px) {
    .landing-page .logo-image {
        width: 80%;
    }
}

.featured-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    justify-content: center;
    align-items: center;
    width: 90%;
}

@media (orientation: portrait) and (max-width: 768px) {
    .featured-wrapper {
        height: fit-content;
    }
}

.featured {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    margin: 20px 5%;

}

@media (orientation: portrait) and (max-width: 768px) {
    .featured {
        flex-direction: column;
        gap: 70px;
    }
}
  
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    flex: 1;
    text-align: center;
    position: relative;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

@media (orientation: portrait) and (max-width: 768px) {
    .item {
        width: 70%;
    }
}

.item img {
    width: 100%;
}

.btn-buynow {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.jumbotron {
    display: flex;
    padding: 10px;
    width: 90%;
    border: 1px solid #ccc;
    position: relative;
}

.jumbotron img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.jumbotron .new-prod-text {
    position: absolute;
    top: 40px;
    left: 40px;
    color: #fff;
    padding: 5px;
}

.jumbotron .coming-soon-text {
    position: absolute;
    bottom: 40px;
    right: 40px;
    color: #fff;
    padding: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc;
    color: #000;
    height: 56px;
    bottom: 0;
    width: 100%;
}

/* Product page */
.product-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 50px;
}

.product-grid {
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .product-grid {
        padding: 0 20px;
    }
}

.product-card {
    display: flex;
    flex-direction: column;
    flex: 1 1 400px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

.product-header {
    flex: 1;
}

.product-content {
    display: flex;
    flex-direction: row;
    flex: 4
}

@media (max-width: 768px) {
    .product-content {
        flex-direction: column;
    }
}

.product-image {    
    flex: 1;
}

.product-image img {
    max-width: 100%;
}

.product-description {
    flex: 4;
    margin: 20px;
}



/* Contact page */
.contact-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contact-image {
    max-width: 100%;
}

.contact-image img {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .contact-user {
        flex-direction: column;
    }
}

/* Cart page */
.cart-page {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 50px;
}

@media (max-width: 768px) {
    .cart-page {
        padding: 0 10px;
    }
}

.btn-quantity-left {
    padding: 0 0.75rem 0 0.75rem;
}

.btn-quantity-right {
    padding: 0 0 0 0.75rem;
}

.btn-checkout {
    height: 40px;    
}

.cart-checkout {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    padding: 10px;
}

.cart-grid {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .cart-grid {
        padding: 0 10px;
    }
}

.cart-item-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.cart-item-header {
}

.cart-item-content {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
}

.cart-item-content>:nth-child(1) {
    flex: 1;
}

.cart-item-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 5%;
}

.cart-item-image img {
    max-width: 100%;
}

.cart-item-details {
    display: flex;
    flex-direction: row-reverse;
    flex: 10;
    gap: 50px;
    height: fit-content;
}

@media (max-width: 768px) {
    .cart-item-details {
        flex-direction: column-reverse;
        gap: 10px;
        flex: 2;
        align-items: end;
    }
}

.cart-item-details p {
    margin: 0;
}

.cart-item-quantity {
    display: flex;
    flex-direction: row;
}


/* Login page */
.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-image {
    max-width: 100%;
}

.login-image img {
    width: 100%;
    height: 100%;
}