:root {
    --color-dark: #212529;
    --color-light: #f8f9fa;

    --title-font: 'Exo 2', sans-serif;
    --body-font: 'Alegreya Sans';
    --font-size: 1.01rem;
}

html, body {
    font-family: var(--body-font);
    font-size: var(--font-size);
    height: 100%;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: var(--title-font);
}

#root{
    height: 100vh
}

.navbar-ext {
    padding: 0;
}

.page {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.error {
    color: red;
}

/* Home page */
.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.landing-page {
    padding: 0;
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (orientation: portrait) and (max-width: 768px) {
    .landing-page {
        height: 200px;        
    }
}

.landing-page .logo-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.landing-page .logo-image {
    position: absolute;
    height: 60%;
    object-fit: contain;
}

@media (orientation: portrait) and (max-width: 768px) {
    .landing-page .logo-image {
        width: 80%;
    }
}

.jumbotron {
    display: flex;
    padding: 10px;
    width: 90%;
    border: 1px solid #ccc;
    position: relative;
}

.jumbotron img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.jumbotron .new-prod-text {
    position: absolute;
    top: 40px;
    left: 40px;
    color: #fff;
    padding: 5px;
}

.jumbotron .coming-soon-text {
    position: absolute;
    bottom: 40px;
    right: 40px;
    color: #fff;
    padding: 5px;
}


/* Product page */
.product-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 50px;
}

/* Contact page */
.contact-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contact-image {
    max-width: 100%;
}

.contact-image img {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .contact-user {
        flex-direction: column;
    }
}

/* Cart page */
.cart-page {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100%; 
}

@media (max-width: 768px) {
    .cart-page {
        padding: 0 10px;
    }
}

.btn-quantity-left {
    padding: 0 0.75rem 0 0.75rem;
}

.btn-quantity-right {
    padding: 0 0 0 0.75rem;
}

.btn-checkout {
    height: 40px;    
}

.cart-checkout {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    padding: 10px;
}

.cart-grid {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .cart-grid {
        padding: 0 10px;
    }
}

.cart-item-content {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
}

.cart-item-content>:nth-child(1) {
    flex: 1;
}

.cart-item-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 5%;
}

.cart-item-image img {
    max-width: 100%;
}

.cart-item-details {
    display: flex;
    flex-direction: row-reverse;
    flex: 10;
    gap: 50px;
    height: fit-content;
}

@media (max-width: 768px) {
    .cart-item-details {
        flex-direction: column-reverse;
        gap: 10px;
        flex: 2;
        align-items: end;
    }
}

.cart-item-details p {
    margin: 0;
}

.cart-item-quantity {
    display: flex;
    flex-direction: row;
}


/* Login page */
.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-image {
    max-width: 100%;
}

.login-image img {
    width: 100%;
    height: 100%;
}

/* Product Card */
.card-img-top {
    padding: 5px;
    width: 100%;
    height: 15vw;
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    .card-img-top {
        height: 50vw;
    }
    
}

/* Footer  */
.footerStyle {
    background: var(--color-dark);
    color: var(--color-light);
}

.footerStyle .bi {
    font-size: 1.5rem;
}